body {
  padding: 0;
  margin:0;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
/* #navText {
  color: rgb(58, 154, 10);
  font-size: 20px;
  margin: 0 auto;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}
p {
  color: rgb(145, 18, 9);
  font-size: 50px;
}
.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}



.container {
  max-width: 1200px;
  margin: 0 auto;
}


.pages {
  display: flex;
  justify-content: center;
}

ul padding {
  padding: 0;
}

li {
  list-style-type: none;
}

.pages li {
  margin: 10px;
  font-weight: bold;
  cursor: pointer;
}

.rightside {
  display: flex;
  justify-content: right;
}


.userRanking {
  display: flex;
  justify-content: center;
} */